<template>
  <v-card class="overflow-hidden">
    <v-app-bar color="primary" dark>
      <template v-slot:img="{ props }">
        <v-img v-bind="props" gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)"></v-img>
      </template>

      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-toolbar-title>Vuetify</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-menu bottom left>
        <template v-slot:activator="{ on }">
          <v-btn icon color="yellow" v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
      </v-menu>

      <template v-slot:extension>
        <v-tabs align-with-title aria-selected="false">
          <v-tab>
            <router-link to="/" style>User Dashboard</router-link>
          </v-tab>
          <v-tab>
            <router-link to="/mail" style>Send Mail</router-link>
          </v-tab>
          <v-tab>
            <router-link to="/contact" style>Contact</router-link>
          </v-tab>
        </v-tabs>
      </template>
    </v-app-bar>
    <v-sheet id="scrolling-techniques-4" class="overflow-y-auto" max-height="600"></v-sheet>
  </v-card>
</template>


<style>
a {
  color: white !important;
  text-decoration: none;
}
</style>