<template>
  <v-content>
      <Header/>
    <v-container>
      <h1>Send Contact</h1>
    </v-container>
    <Footer/>
  </v-content>
</template>

<script>
import Header from "@/components/layout/Header.vue";
import Footer from "@/components/layout/Footer.vue";
export default {
  components: {
    Header,
    Footer
  }
};
</script>