<template>
  <div>
    <Header />
    <v-content>
    <v-container >
      <v-form ref="form" v-model="valid" lazy-validation style="padding-bottom:50px;">
        <h2>Send Mail Form..</h2>
        <v-text-field v-model="name" :counter="10" :rules="nameRules" label="Your name..." required></v-text-field>

        <v-text-field v-model="email" :rules="emailRules" label="To E-mail" required></v-text-field>
        <v-textarea
          v-model="description"
          :rules="descRules"
          required
          autocomplete="description"
          label="Your Description"
        ></v-textarea>

        <v-btn
          style="float:right;"
          :disabled="!valid"
          color="primary"
          class="mr-4"
          @click="validate"
        >
          Send Mail
          <v-icon class="ml-2">mdi-mail</v-icon>
        </v-btn>
      </v-form>
    </v-container>
    </v-content>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/layout/Header.vue";
import Footer from "@/components/layout/Footer.vue";
export default {
  components: {
    Header,
    Footer
  },
  data: () => ({
    valid: true,
    name: "",
    nameRules: [
      v => !!v || "Your Name is required",
      v => (v && v.length <= 10) || "Name must be less than 10 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "To E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],
    description: "",
    descRules: [v => !!v || "Your Name is required"]
  }),

  methods: {
    validate() {
      this.$refs.form.validate();
    }
  }
};
</script>