<template>
  <v-container>
    <v-content>
      <Confirm/>
      <v-data-table :headers="headers" :items="desserts" :items-per-page="10" class="elevation-1">
        <template v-slot:item="row">
          <tr>
            <td>{{row.item.id}}</td>
            <td>{{row.item.first_name}}</td>
            <td>{{row.item.last_name}}</td>
            <td>{{row.item.gender}}</td>
            <td>{{row.item.email}}</td>
            <td>
              <v-btn class="mx-1" fab dark small color="primary" @click="onButtonClick(row.item)">
                <v-icon dark>mdi-delete</v-icon>
              </v-btn>
              <v-btn class="mx-1" fab dark small color="primary" @click="onButtonClick(row.item)">
                <v-icon dark>mdi-close</v-icon>
              </v-btn>
              <v-btn class="mx-1" fab dark small color="primary" @click="onButtonClick(row.item)">
                <v-icon dark>mdi-checkbox-marked-circle</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
      </v-data-table>       
    </v-content>
  </v-container>

 
</template>


<script>
import Confirm from "../dialog/Confirm";
export default {
  components: {
    Confirm
  },
  data() {
    return {
      headers: [
        {
          text: "ID",
          align: "start",
          sortable: false,
          value: "id"
        },
        { text: "First name", value: "first_name" },
        { text: "Last name", value: "last_name" },
        { text: "Gender", value: "gender" },
        { text: "Email", value: "email" },
        { text: "Action", value: "action" }
      ],
      desserts: [
        {
          id: "10001",
          first_name: "Frozen Yogurt",
          last_name: 159,
          gender: 6.0,
          email: 24,
          action: "<h1>Hello Word</h1>"
        },
        {
          id: "10002",
          first_name: "Frozen Yogurt",
          last_name: 159,
          gender: 6.0,
          email: 24,
          action: "<h1>Hello Word</h1>"
        },
        {
          id: "10003",
          first_name: "Frozen Yogurt",
          last_name: 159,
          gender: 6.0,
          email: 24,
          action: "<h1>Hello Word</h1>"
        },
        {
          id: "10004",
          first_name: "Frozen Yogurt",
          last_name: 159,
          gender: 6.0,
          email: 24,
          action: "<h1>Hello Word</h1>"
        },
        {
          id: "10005",
          first_name: "Frozen Yogurt",
          last_name: 159,
          gender: 6.0,
          email: 24,
          action: "<h1>Hello Word</h1>"
        },
        {
          id: "10006",
          first_name: "Frozen Yogurt",
          last_name: 159,
          gender: 6.0,
          email: 24,
          action: "<h1>Hello Word</h1>"
        }
      ]
    };
  }
};
</script>